@import url(main.css);

@media(-) {
    
}

.login {
    max-width: 300px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 100px;
    padding: 10px;
    text-align: center;
    background-color: rgb(25, 25, 25);
    border-radius: 20px;
    box-shadow: 0px 0px 10px rgb(38, 0, 255);
    animation-name: login__an;
    animation-duration: 6s;
    animation-iteration-count: infinite;
}

@keyframes login__an {
    25% {
        box-shadow: 0px 0px 10px rgb(21, 0, 137);
    }

    50% {
        box-shadow: 0px 0px 10px rgb(38, 0, 255);
    }

    75% {
        box-shadow: 0px 0px 10px rgb(21, 0, 137);
    }
    100% {
        box-shadow: 0px 0px 10px rgb(38, 0, 255);
    }
}

.login__photo-photo {
    width: 30px;
    height: 30px;
    padding: 20px;
}

.login__username, .login__password {
    margin-bottom: 10px;
}

.username__input, .password__input {
    width: 250px;
    outline: none;
    border-radius: 1px;
    border: none;
    background-color: rgb(25, 25, 25);
    border-bottom: 1px solid;
    color: white;
    font-family: "Manrope";
}

.login__btn {
    margin-top: 40px;
}

.login__submit {
    padding: 10px 100px 10px 100px;
    border-radius: 1px;
    border: none;
    box-shadow: 0px 0px 10px blue;
    background-color: blue;
    animation-name: login__submit-an;
    animation-iteration-count: infinite;
    animation-duration: 6s;
    font-family: "Manrope";
    color: #FFFFFF;
}

@keyframes login__submit-an {
    25% {
        box-shadow: 0px 0px 10px blue;
    }
    50% {
        box-shadow: 0px 0px 10px rgb(255, 0, 0);
    }
    75% {
        box-shadow: 0px 0px 10px blue;
    }
    100% {
        box-shadow: 0px 0px 10px rgb(255, 0, 0);
    }
}

.login__forgot-password {
    padding-top: 30px;
    padding-bottom: 10px;
    font-size: 12px;
}

.login__forgot {
    font-family: "Manrope";
    color: rgb(152, 152, 152);
}
